@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('./assets/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('./assets/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Hide scrollbar */
html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  font-family: 'Alte Haas Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}